version: '3.3'
services:
  postgres_service:
    container_name: postgresql_16_with_pg_jsonschema_overbloat_6
    image: postgresql_16_with_pg_jsonschema_overbloat_6
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: